{% extends 'components/base.html' %}

{% block title %}
<title>UCL | {{club.name}}</title>
{% endblock title %}

{% block content %}

<header class="header">
    {% include 'components/nav.html' %}
    <div class="header-info">
        <div class="header-text">
            <h1>{{club.name}}</h1>
        </div>

        <div class="club-stats">
            <div>GOLOVI <br> <span>{{club.Golovi}}</span></div>
            <div>ASISTENCIJE <br> <span>{{club.Asistencije}}</span></div>
            <div>FAULOVI <br> <span>{{club.Broj_faulova}}</span></div>
            <div>ŠUTEVI <br> <span>{{club.Šutevi}}</span></div>
        </div>
    </div>
</header>

<div class="separator"></div>

<div class="single-graph">
    <div class="graph-info">
        <h3>Performanse kluba</h3>
        <p>
            Koliko i po kojim kriterijumima je {{club.name}} bolji/gori od prosječnog kluba u Ligi šampiona 2021/2022.
            (Sa sumom igraca kluba)
        </p>
    </div>
    {% if graph %}
    <img src="data:image/png;base64, {{graph|safe}}" alt="{{club.name}} vs average club">
    {% endif %}
</div>

<div class="separator"></div>

<div class="single-graph">
    <div class="graph-info">
        <h3>Performanse kluba</h3>
        <p>
            Koliko i po kojim kriterijumima je {{club.name}} bolji/gori od prosječnog kluba u Ligi šampiona 2021/2022.
            (Sa prosjekom igraca kluba)
        </p>
    </div>
    {% if graph2 %}
    <img src="data:image/png;base64, {{graph2|safe}}" alt="{{club.name}} vs average club">
    {% endif %}
</div>

<div class="separator"></div>

<div class="table-section">
    <div class="table-info">
        <h3>Tabela strijelaca</h2>
            <p>U tabeli su prikazani svi strijelci kluba sa njihovim postignutim rezultatima na prvenstvu.</p>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <th>Igrač</th>
                <th>Pozicija</th>
                <th>Broj minuta</th>
                <th>Broj mečeva</th>
                <th>Golovi</th>
                <th>Asistencije</th>
                <th>Broj faulova</th>
                <th>Broj šuteva</th>
                <th></th>
            </tr>
            {% for player in players.itertuples %}
            <tr>
                <td>{{ player.Igrač }}</td>
                <td>{{ player.Pozicija }}</td>
                <td>{{ player.Broj_minuta }}</td>
                <td>{{ player.Broj_mečeva }}</td>
                <td>{{ player.Golovi }}</td>
                <td>{{ player.Asistencije }}</td>
                <td>{{ player.Broj_faulova }}</td>
                <td>{{ player.Šutevi }}</td>
                <td><a href="/players/{{player.Igrač}}">Saznaj više</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="separator"></div>

<div class="single-graph">
    <div class="graph-info">
        <h3>Performanse igrača</h3>
        <p>
            Grafik vizualno pokazuje koliko je svaki pojedinačni igrač doprinio svom klubu.
        </p>
    </div>
    {% if best_club_players %}
    <img src="data:image/png;base64, {{best_club_players|safe}}" alt="{{club.name}} players">
    {% endif %}
</div>

<div class="separator"></div>

{% include 'components/footer.html' %}

{% endblock content %}