<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCL | {{club.name}}</title>
</head>

<body>
    <h1>{{club.name}}</h1>
    <p>Golovi {{club.Golovi}}</p>
    <p>Asistencije {{club.Asistencije}}</p>
    <p>Broj faulova {{club.Broj_faulova}}</p>
    <p>Broj šuteva {{club.Šutevi}}</p>
    <hr>
    <h2>Grafik</h2>
    <p>Sa sumom igraca kluba</p>
    {% if graph %}
    <img src="data:image/png;base64, {{graph|safe}}">
    {% endif %}
    <p>Sa prosjekom igraca kluba</p>
    {% if graph2 %}
    <img src="data:image/png;base64, {{graph2|safe}}">
    {% endif %}
    <hr>
    <h2>Lista strijelaca</h2>
    <table>
        <tr>
            <th>Igrač</th>
            <th>Pozicija</th>
            <th>Broj minuta</th>
            <th>Broj mečeva</th>
            <th>Golovi</th>
            <th>Asistencije</th>
            <th>Broj faulova</th>
            <th>Broj šuteva</th>
            <th></th>
        </tr>
        {% for player in players.itertuples %}
        <tr>
            <td>{{ player.Igrač }}</td>
            <td>{{ player.Pozicija }}</td>
            <td>{{ player.Broj_minuta }}</td>
            <td>{{ player.Broj_mečeva }}</td>
            <td>{{ player.Golovi }}</td>
            <td>{{ player.Asistencije }}</td>
            <td>{{ player.Broj_faulova }}</td>
            <td>{{ player.Šutevi }}</td>
            <td><a href="/players/{{player.Igrač}}">Saznaj više</a></td>
        </tr>
        {% endfor %}
    </table>
    <hr>

    {% if best_club_players %}
    <img src="data:image/png;base64, {{best_club_players|safe}}">
    {% endif %}
</body>

</html>