{% extends 'components/base.html' %}

{% block title %}
<title>UCL | {{player_name}}</title>
{% endblock title %}

{% block content %}

<header class="header">
    {% include 'components/nav.html' %}
    <div class="header-info">
        {% for p in player.itertuples %}
        <div class="header-text">
            <h1>{{player_name}}</h1>
            <h3>{{p.Pozicija}}, {{p.Klub}}</h3>
        </div>

        <div class="club-stats">
            <div>GOLOVI <br> <span>{{p.Golovi}}</span></div>
            <div>ASISTENCIJE <br> <span>{{p.Asistencije}}</span></div>
            <div>ŠUTEVI <br> <span>{{p.Šutevi}}</span></div>
            <div>UNUTAR OKVIRA <br> <span>{{p.Unutar_okvira}}</span></div>
            <div>BROJ MEČEVA <br> <span>{{p.Broj_mečeva}}</span></div>
            <div>BROJ MINUTA <br> <span>{{p.Broj_minuta}}</span></div>
            <div>FAULOVI <br> <span>{{p.Broj_faulova}}</span></div>
            <div>PENALI <br> <span>{{p.Penali}}</span></div>
        </div>
        {% endfor %}

    </div>
</header>

<div class="separator"></div>

<div class="single-graph">
    <div class="graph-info">
        <h3>Odstupanje igrača od prosjeka</h3>
        <p>
            Koliko i po kojim kriterijumima je {{player_name}} bio bolji/gori od prosječnog igrača na prvenstvu.
        </p>
    </div>
    {% if performance_graph %}
    <img src="data:image/png;base64, {{performance_graph|safe}}" alt="{{player_name}} vs average">
    {% endif %}
</div>

<div class="separator"></div>

<div class="double-graph">
    <div class="graph-container">
        <div class="graph-info">
            <h3>Distribucija golova</h3>
            <p>Koliko je {{player_name}} dao golova desnom, a koliko lijevom nogom. Koliko ih je dao glavom, a koliko na
                neki drugi način.</p>
        </div>
        {% if goal_type_chart %}
        <img src="data:image/png;base64, {{goal_type_chart|safe}}" alt="goal_distribution">
        {% endif %}
    </div>
    <div class="graph-container">
        <div class="graph-info">
            <h3>Daljina pogotka</h3>
            <p>Koliko golova je {{player_name}} dao unutar šesnaesterca, a koliko van njega.</p>
        </div>
        {% if goal_distance_chart %}
        <img src="data:image/png;base64, {{goal_distance_chart|safe}}" alt="goal_distance">
        {% endif %}
    </div>
</div>

<div class="separator"></div>

{% include 'components/footer.html' %}

{% endblock content %}